<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIVET</title>
    <link rel="stylesheet" href="/css/all.css" th:href="@{/css/all.css}">
</head>

<body>
    <header>
        <h1>CLIVET</h1>
    </header>
    <nav>
        <ul class="menu">
            <li><a th:href="@{/}"><i class="fa-solid fa-house"></i></a></li>
            <li><a th:href="@{/visits}" th:text="Visites"></a></li>
        </ul>
    </nav>
    <main>
        <p>Bienvenue à la clinique vétérinaire CLIVET.</p>
    </main>
    <footer>
        HE2B/ÉSI - 3WEB2a - janvier 2026 - gXXXXX
    </footer>
</body>

</html>