/* @import "icon.css"; */

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
} 
  
.dropdown>:nth-child(1)::after {
    /* font: var(--fa-font-solid); */
    content: " \f0d7";
}

.dropdown>:nth-child(2) {
    display: none;
}

.dropdown-show>:nth-child(1)::after {
    /* font: var(--fa-font-solid); */
    content: " \f0d8";
}

.dropdown-show>:nth-child(2) {
    display: block;
}

.dropdown-show.dropdown-over>:nth-child(2) {
    position: absolute;
    z-index: 5;
}
