form {
    border: thin solid var(--primary-color);
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 0em;
}

form h2 {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: .1em .1em .2em grey;
    font-size: 1.2em;
    text-align: center;
    margin: 0px;
    padding: .25em 1em;
}

form>* {
    margin: .25em .5em;
}

form>label {
    margin-bottom: 0em;    
}

form>label+* {
    margin-top: 0em;
}

form section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .25em;
    margin: .25em 1em;
}

/* form fieldset {
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: .5em;
    background-color: white;
    color: rgb(235, 230, 230);
    border: 1px solid var(--primary-color);
    box-shadow: .1em .1em .2em var(--primary-darker-color);
} */

/* form fieldset legend {
    background-color: var(--primary-color);
    color: white;
    border-radius: .2em;
    padding: 0em 1em;
} */

.row {
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

form .center {
    align-self: center;
}
