/*
 *  Liens
 */

@import "color.css";

a {
    /* font-weight: bold; */
    padding: 0px;
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-shadow: .2em .2em .2em grey;
}

a:active {
    text-shadow: 0 0 5px grey;
}
