/*********************************
 * Le menu principal             *
 * Dans le nav au format ul>li>a *
 *********************************/

@import "color.css";

ul.menu {
    background-color: var(--primary-lighter-color);
    color: var(--primary-color);
    border: thin solid var(--primary-light-color);
    font-family: 'Open Sans', sans-serif;   
    display: flex;
    align-items: stretch;
    list-style-type: none;
    padding: 0em;
    margin: 0px;
    cursor: pointer;
    user-select: none;
}

ul.menu li {
    display: block;
    padding: .5em .5em;
    position: relative;
}

ul.menu a {
    text-decoration: none;
    color: inherit;
}

/* ul.menu a:visited {
    color: var(--primary-color);
} */

ul.menu li:has(> a:hover) {
    background-color: var(--primary-light-color);
}

ul.menu a:hover {
    color: var(--primary-lighter-color);
    text-shadow: none;
}

ul.menu li:active {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
}

ul.menu li.current {
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
}

ul.menu-col {
    flex-direction: column;
    width: fit-content;
}

ul.menu .submenu-title::after {
    /* font: var(--fa-font-solid); */
    content: " \f0d7";
}

ul.menu .submenu-title:hover::after {
    /* font: var(--fa-font-solid); */
    content: " \f0d8";
}

ul.menu .submenu-title:hover .submenu {
    display: block;
}

ul.menu .submenu:hover {
    display: block;
}

ul.menu .submenu {
    flex-direction: column;
    width: fit-content;
    position: absolute;
    display: none;
}